{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
    "cypress/globals": true
  },
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "prettier", "react-app"],
  "plugins": ["cypress", "react-hooks", "react", "jsx-a11y", "prettier"],
  "rules": {
    "no-unused-vars": "warn"
  }
}
